SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0
GCP_PROJECT_ID=gen-lang-client-0786739350
GCP_KEY_FILE=gen-lang-client.json
GCP_BUCKET_NAME=shorts_analysis
GCP_BUCKET_FOLDER=test
GCP_SIGN_URL_EXPIRES=900000 # 15 minutes

TT_API_TOKEN=
BC_ID=
ADVERTISER_ID=
TT_CAMPAIGN_ID=

TASK_CREATE_URL=https://woodwise-ai-process-735165036066.asia-southeast1.run.app/create_task
TASK_VIDEO_STORYBOARD_URL=https://woodwise-ai-process-735165036066.asia-southeast1.run.app/process_video
SEARCH_STORYBOARD_URL=https://woodwise-ai-process-735165036066.asia-southeast1.run.app/semantic_search?match_threshold=0.4&match_count=20

QUERY_MATERIAL_URL=https://woodwise-ai-process-735165036066.asia-southeast1.run.app/report/query_material
QUERY_MATERIALS_URL=https://woodwise-ai-process-735165036066.asia-southeast1.run.app/report/query_materials
QUERY_MATERIALS_BY_METRICS_URL=https://woodwise-ai-process-735165036066.asia-southeast1.run.app/report/query_materials_by_metrics
QUERY_ADVERTISERS_BY_POST=https://woodwise-ai-process-735165036066.asia-southeast1.run.app/report/query_advertisers_by_post

MOCK_MODEL=false